* {
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background: rgba(55, 91, 104, 1);
    color: #F5F7FA;
}
nav a{
    font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    text-align: left;
    text-decoration: none;
    color: #F5F7FA;
    padding: 0px 10px
    ;
}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
color: #F5F7FA;
font-family:'Cabinet Grotesk',sans-serif;
background-color:#12212E  ;
}
.nav_firstBlock{
    width: 772px;
    padding:35px 66px 0px 66px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.nav_secondBlock{
    display: flex;
    gap: 5px;
    Padding:35px 66px 0px 0px;
    align-items: end;
    list-style: none;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(360deg, rgba(55, 91, 104, 0) 0%, rgba(18, 33, 46, 0.26) 15%, #12212E 60%);

}
.hero > h1{
line-height: 99.39px;
font-weight: 700;
font-size: 64px;
background: linear-gradient(180deg, rgba(121, 121, 121, 0.4) 20.25%, #ABABAB 69.58%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Sahitya',sans-serif;
}
.hero > p{
    text-align: center;
    font-family: "Sahitya",sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    line-height: 31.06px;

}
.button_div{
    border: none;
    background-color: inherit;
    color: rgba(245, 247, 250, 1);
    height: 68px;
    width: 138px;
}

.hero_pic{
    width: 95%;
    display: flex;
    justify-content: center;
    background-image: url('./Assets/Feather-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.about_quality{
    width: 46%;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.about_quality div{
    width: 25%;
}
.about{
    font-family:'Cabinet Grotesk',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.container{
    margin-left:50px ;
    line-height: 40px;
}
.container h2{
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
}
.container p{
    font-family: 'Cabinet Grotesk',sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 40px;
text-align: justified;

}
#read_more{
display: block;
text-align: right;
font-family: 'Cabinet Grotesk',sans-serif;
font-size: 22px;
font-weight: 700;
line-height: 44px;
}
.category{
    padding: 144px 64px 0px 64px;
}
.catalouge_title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.catalouge_title p{
    font-size: 36px;
    line-height: 72px;
    font-weight: 800;
    font-family: 'Cabinet Grotesk',sans-serif;
    color: rgba(94, 151, 171, 1);
}

.our_categories{
display: flex;
}
.selectors{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 25px;
    padding: 0px 0px 30px 19px;
}
.selectors div{
    width: 100%;
    padding: 0px 10px;
    display: block;
    align-items: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.selectors div:hover{
    background: linear-gradient(89.87deg, #436E7E 10.28%, #12212E 89.59%);
}
.description{
    padding: 10px 20px;
    background: linear-gradient(180.08deg, #12212E 41.88%, #375B68 92.6%);
    font-family: 'Cabinet Grotesk',sans-serif;
    border-radius: 0px 36px 36px 36px;
}
.description .selector_title{
    font-size: 24px;
}
.description .para{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: justify;

}
.pillow_display{
    display: flex;
    left: 42.1px;
    padding: 4.86px 9.72px 4.86px 9.72px;
    gap: 41px;

}

 .card{
    width: 50%;
    transition: transform 0.2s linear;
    border-radius: 20px 20px ;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}
.card_detail{
    height: 32px;
    width: 98%;
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.card_detail div{
    margin-left: 5px;
    width: 10%;
}

.card_detail span{
    font-size:16px;
    font-weight:500;
    font-family:"Cabinet Grotesk",sans-serif
}
.card:hover .card_detail{
    display: flex;
}
.card:hover{
    border: 1px solid rgb(230, 228, 228) ;
    border-radius: 20px 20px 0px 0px ;
    transform: scale(1.05);
    border-bottom: none;
}
.card img{
    width: 100%;
}


.offers{
height: 768px;
top: 2653px;
padding: 144px 0px 0px 0px;
gap: 10px;

}
.offers .main_image{
    width: 100%;
    position: absolute;
    height: 624px;
}
.offers .button_image{
    position: relative;
   bottom: 20%;
}
.offer_detail{
    height: 400px;
    width:50%;
    position: relative;
    left: 47.5%;
}
.offer_title{
width: fit-content;
height: 96px;
top: 96px;
left: 47%;
font-family: 'Cabinet Grotesk',sans-serif;
font-size: 48px;
font-weight: 700;
line-height: 96px;
text-align: left;
}
.offer_desc{
width: 441px;
height: 200px;
top: 214px;
left: 47%;
font-family: 'Cabinet Grotesk',sans-serif;
font-size: 24px;
font-weight: 300;
line-height: 29.76px;
text-align: left;

}
.buy_nowButton{
    height: 55%;
    display: flex;
    justify-content: space-between;
    align-items:  end;
    top: 50%;
}


.blog{
    height: 900px;
    width: 100%;
    padding: 100px 64px 36px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog_title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.blog_title p{
    font-family: 'Cabinet Grotesk',sans-serif;
font-size: 36px;
font-weight: 800;
line-height: 72px;
text-align: left;
color: rgba(94, 151, 171, 1);
}

.middle_part_blog{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.benefits_of_pillow{
display: flex;
flex-direction: column;
gap: 8px;

}
.para_title{
    font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
}
.paragraph{
    font-family: "Cabinet Grotesk",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;

}
.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;

}

.subscribe{
    width: 100%;
    height: 601px;
    padding: 144px 336px 10px 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px;
}
.subscribe .p1{
    font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;

}
.subscribe .p2{
    width: 438px;
    font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: center;

}
.subscribe input{
width:768px;
height:  81px;
padding: 8px 38px 8px 38px;
gap: 10px;
background-color: rgba(79, 126, 142, 0.35);
border: 3px solid white  ;
border-radius: 40px;
font-family: 'Cabinet Grotesk',sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 37px;
text-align: left;
}
.subscribe_button{
    border: none;
    background-color: inherit;
    width:  169px;
height:  68px;
}
 
.footer{
    border: 2px soid red;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 693px;
background: linear-gradient(180deg, rgba(55, 91, 104, 0) 0%, rgba(18, 33, 46, 0.26) 19.69%, #12212E 65.27%);
}
.footer-pic{
    width: 100%;
    height: 100%;
    position: absolute;
}
.girl_pic{
    width: 100%;
    height: 60%;
    top: 40%;
    position: absolute;
}
.copyright{
    position: absolute;
    left: 40%;
    top: 85%;
    text-align: center;
}
.created_by{
    font-family: 'sahitya',sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 20.48px;
color: rgba(245, 247, 250, 0.55);

}
.copyright_note{
    font-family: 'sahitya',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.48px;
    color: rgba(245, 247, 250, 0.55);
}

.footer_items{
    position: relative;
    top: 40%;
    left: 30%;
    width: 69%;
    height: 228px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 37px;
}
.social_media{
    display: flex;
    width: 210px;
    gap: 8px;
    position: relative;
    top:42% ;
    left: 80%;
    font-family: 'Cabinet Grotesk',sans-serif;
}
.about_div{
display:flex;
flex-direction:column;

}
.recourse_div{
display:flex;
flex-direction:column;
}
.service_div{
display:flex;
flex-direction:column;
}
.contact_div{
height: 100%;
padding: 10px 30px;
display:flex;
flex-direction:column;
}
.contact_section{
padding: 10px 8px 10px 8px;
gap: 10px;
display: flex;
justify-content:flex-start;
align-items: center;
font-family: "Cabinet Grotesk",sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19.84px;
}
.contact_section > img{
    width: 24px;
    height: 24px;
}
.footer_items h3{
    font-family: 'Cabinet Grotesk',sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.8px;
}
.footer_items p{
    font-family: 'Sahitya',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.48px;
}
.footer_items p:hover{
    cursor:pointer;
}

/* for medium screen*/
@media (min-width:500px) and (max-width:1199px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0px;
        padding: 0px;
        background: rgba(55, 91, 104, 1);
        color: #F5F7FA;
        width:100%;
    }
    nav a{
        font-family: 'Cabinet Grotesk',sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24.8px;
        text-align: left;
        text-decoration: none;
        color: #F5F7FA;
        padding: 0px 10px
        ;
    }
    .navbar{
        width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F5F7FA;
    font-family:'Cabinet Grotesk',sans-serif;
    background-color:#12212E  ;
    }
    .nav_firstBlock{
        width: 772px;
        padding:35px 50px 0px 50px;
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }
    .nav_secondBlock{
        display: flex;
        gap: 5px;
        Padding:35px 66px 0px 0px;
        align-items: end;
        list-style: none;
    }
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(360deg, rgba(55, 91, 104, 0) 0%, rgba(18, 33, 46, 0.26) 15%, #12212E 60%);
    
    }
    .hero > h1{
    line-height: 99.39px;
    font-weight: 700;
    font-size: 64px;
    background: linear-gradient(180deg, rgba(121, 121, 121, 0.4) 20.25%, #ABABAB 69.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Sahitya',sans-serif;
    }
    .hero > p{
        text-align: center;
        font-family: "Sahitya",sans-serif;
        font-size: 20px;
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        line-height: 31.06px;
    
    }
    .button_div{
        border: none;
        background-color: inherit; 
        color: rgba(245, 247, 250, 1);
        height: 68px;
        width: 138px;
    }
  
    .hero_pic{
        width: 100%;
        background-image: url('./Assets/Feather-bg.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
    .hero_pic img{
        width: 100%;
    }
    .about_quality{
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 60%;
    }
    .about_quality img{
        width: 100%;
    }
    
    .about{
        font-family:'Cabinet Grotesk',sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .picture-about{
        width: 45%;
    }
    .picture-about img{
        width: 100%;
    }
    .container{
        width: 50%;
        line-height: 30px;
        font-size: 20px;
    }
    .container h2{
        font-size: 36px;
        line-height: 48px;
    }
    #read_more{
    display: block;
    text-align: right;
    font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 44px;
    }
    .category{
        padding: 100px 40px 0px 40px;
    }
    .catalouge_title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .catalouge_title p{
        width: 40%;
        font-size: 30px;
        line-height: 50px;
        font-weight: 800;
        font-family: 'Cabinet Grotesk',sans-serif;
        color: rgba(94, 151, 171, 1);
    }
    .catalouge_title  img{
        width: 50%;
        }
    
    .our_categories{
    display: flex;
    }
    .selectors{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        gap: 25px;
        padding: 0px 0px 30px 19px;
    }
    .selectors div{
        width: 100%;
        padding: 0px 10px;
        display: block;
        align-items: center;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .selectors div:hover{
        background: linear-gradient(89.87deg, #436E7E 10.28%, #12212E 89.59%);
    }
    .description{
        padding: 10px 20px;
        background: linear-gradient(180.08deg, #12212E 41.88%, #375B68 92.6%);
        font-family: 'Cabinet Grotesk',sans-serif;
        border-radius: 0px 36px 36px 36px;
    }
    .description .selector_title{
        font-size: 24px;
    }
    .description .para{
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: justify;
    
    }
    .pillow_display{
        display: flex;
        left: 42.1px;
        padding: 4.86px 9.72px 4.86px 9.72px;
        gap: 41px;
    
    }
    .card{
        width: 50%;
        transition: transform 0.2s linear;
        border-radius: 20px 20px ;
        margin-top: 30px;
        position: relative;
        overflow: hidden;
    }
    .card_detail{
        height: 32px;
        width: 98%;
        display: none;
        justify-content: center;
        align-items: center;
        gap: 2px;
        
    }
    .card_detail div{
        margin-left: 5px;
        width: 15%;
    }
    .card_detail span{
        font-size:10px;
        font-weight:500;
        font-family:"Cabinet Grotesk",sans-serif
    }
    .card:hover .card_detail{
        display: flex;
    }
    .card:hover{
        border: 1px solid transparent ;
        border-radius: 20px 20px 0px 0px ;
        border-image: linear-gradient(179.18deg, rgba(245, 247, 250, 1) 8.94%, rgba(245, 247, 250, 0) 95.23%) 1 stretch;
        transform: scale(1.1);
    }
    .card img{
        width: 100%;
    }
    
    
    .offers{
     width:100%;
    height: 760px;
    padding: 100px 0px 0px 0px;
    }
    .offers .main_image{
        width: 100%;
        position: absolute;
        height: 624px;
    }
    .offers .button_image{
        position: relative;
       bottom: 20%;
    }
    .offer_detail{
        height: 300px;
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        left: 47.5%;
        top: 18%;
    }
    .offer_title{
    width: fit-content;
    height: 55px;
    top: 75px;
    left: 684px;
    font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    }
    .offer_desc{
    width: 441px;
    height: 197px;
    top: 214px;
    left: 47%;
    font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;

    }
    .buy_nowButton{
        height: 55%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        align-items:  end;
        top: 50%;
    }
    .blog{
        height: 900px;
        width: 100%;
        padding: 50px 30px 36px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .blog_title{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }
    .blog_title p{
        width: 30%;
        font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 60px;
    text-align: left;
    
    }
    .blog_title img{
        width: 70%;
    }
    .middle_part_blog{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .benefits_of_pillow{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    padding: 10px;
    }
    .middle_part_blog img{
        width: 100%;
    }
    .para_title{
        font-family: 'Cabinet Grotesk',sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
        text-align: left;
    }
    .paragraph{
        font-family: "Cabinet Grotesk",sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
        text-align: justify;
    
    }
    .sidebar{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .subscribe{
        width: 100%;
        height: 601px;
        padding: 50px 100px 10px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 49px;
    }
    .subscribe .p1{
        font-family: 'Cabinet Grotesk',sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;
    
    }
    .subscribe .p2{
        width: 438px;
        font-family: 'Cabinet Grotesk',sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.8px;
        text-align: center;
    
    }
    .subscribe input{
    width:768px;
    height:  81px;
    padding: 8px 38px 8px 38px;
    gap: 10px;
    background-color: rgba(79, 126, 142, 0.35);
    border: 3px solid white  ;
    border-radius: 40px;
    font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    }
    .subscribe_button{
        display: flex;
        background-color: inherit;
        width:  169px;
    height:  68px;
    padding: 4.93px 0px 0px 0px;
    gap: 8px;
    color: white;
    border: none;
    }
    .subscribe_button div{
    width: 58.14px;
    height: 58.14px;
    top: 4.93px;
    left: 4.93px;
    border-radius: 50%;
    border: 1px solid white;
    }
     
    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        height: 693px;
    background: linear-gradient(180deg, rgba(55, 91, 104, 0) 0%, rgba(18, 33, 46, 0.26) 19.69%, #12212E 65.27%);
    }
    .footer-pic{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .girl_pic{
        width: 100%;
        height: 60%;
        top: 40%;
        position: absolute;
    }
    .social_media{
        display: flex;
        width: 210px;
        gap: 8px;
        position: relative;
        top:42% ;
        left: 70%;
        font-family: 'Cabinet Grotesk',sans-serif;
    }
    .copyright{
        position: absolute;
        left: 30%;
        top: 85%;
        text-align: center;
    }

    .created_by{
        font-family: 'sahitya',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.48px;
    }
    .copyright_note{
        font-family: 'sahitya',sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.48px;
    }
    
    .footer_items{
        position: relative;
        top: 40%;
        left: 30%;
        width: 69%;
        height: 228px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 25px;
    }
    .about_div{
    display:flex;
    flex-direction:column;
    }
    .recourse_div{
    display:flex;
    flex-direction:column;
    }
    .service_div{
    display:flex;
    flex-direction:column;
    }
    .contact_div{
    height: 100%;
    padding: 10px 20px;
    display:flex;
    flex-direction:column;
    }
    .contact_section{
    padding: 8px 6px 8px 6px;
    gap: 6px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-family: "Cabinet Grotesk",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.84px;
    }
    .contact_section > img{
        width: 24px;
        height: 24px;
    }
    .footer_items h3{
        font-family: 'Cabinet Grotesk',sans-serif;
        font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    }
    .footer_items p{
        font-family: 'Sahitya',sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }
    .footer_items p:hover{
        cursor:pointer;
    }
        
}

/* for small screen*/
@media (min-width:300px) and (max-width:499px) {
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0px;
        padding: 0px;
        background: rgba(55, 91, 104, 1);
        color: #F5F7FA;
        width:min-content;
    }
    nav a{
        font-family: 'Cabinet Grotesk',sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24.8px;
        text-align: left;
        text-decoration: none;
        color: #F5F7FA;
        padding: 0px 10px
        ;
    }
    .navbar{
        width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F5F7FA;
    font-family:'Cabinet Grotesk',sans-serif;
    background-color:#12212E  ;
    }
    .nav_firstBlock{
        width: 772px;
        padding:35px 50px 0px 50px;
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }
    .nav_secondBlock{
        display: flex;
        gap: 5px;
        Padding:35px 66px 0px 0px;
        align-items: end;
        list-style: none;
    }
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(360deg, rgba(55, 91, 104, 0) 0%, rgba(18, 33, 46, 0.26) 15%, #12212E 60%);
    
    }
    .hero > h1{
    line-height: 99.39px;
    font-weight: 700;
    font-size: 64px;
    background: linear-gradient(180deg, rgba(121, 121, 121, 0.4) 20.25%, #ABABAB 69.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Sahitya',sans-serif;
    }
    .hero > p{
        text-align: center;
        font-family: "Sahitya",sans-serif;
        font-size: 20px;
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        line-height: 31.06px;
    
    }
    .button_div{
        border: none;
        background-color: inherit; 
        color: rgba(245, 247, 250, 1);
        height: 68px;
        width: 138px;
    }
  
    .hero_pic{
        width: 100%;
        background-image: url('./Assets/Feather-bg.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
    .hero_pic img{
        width: 100%;
    }
    .about_quality{
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 60%;
    }
    .about_quality img{
        width: 100%;
    }
    
    .about{
        font-family:'Cabinet Grotesk',sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .picture-about{
        width: 45%;
    }
    .picture-about img{
        width: 100%;
    }
    .container{
        width: 50%;
        line-height: 30px;
        font-size: 20px;
    }
    .container h2{
        font-size: 36px;
        line-height: 48px;
    }
    #read_more{
    display: block;
    text-align: right;
    font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 44px;
    }
    .category{
        padding: 100px 40px 0px 40px;
    }
    .catalouge_title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .catalouge_title p{
        width: 40%;
        font-size: 30px;
        line-height: 50px;
        font-weight: 800;
        font-family: 'Cabinet Grotesk',sans-serif;
        color: rgba(94, 151, 171, 1);
    }
    .catalouge_title  img{
        width: 50%;
        }
    
    .our_categories{
    display: flex;
    }
    .selectors{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        gap: 25px;
        padding: 0px 0px 30px 19px;
    }
    .selectors div{
        width: 100%;
        padding: 0px 10px;
        display: block;
        align-items: center;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .selectors div:hover{
        background: linear-gradient(89.87deg, #436E7E 10.28%, #12212E 89.59%);
    }
    .description{
        padding: 10px 20px;
        background: linear-gradient(180.08deg, #12212E 41.88%, #375B68 92.6%);
        font-family: 'Cabinet Grotesk',sans-serif;
        border-radius: 0px 36px 36px 36px;
    }
    .description .selector_title{
        font-size: 24px;
    }
    .description .para{
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: justify;
    
    }
    .pillow_display{
        display: flex;
        left: 42.1px;
        padding: 4.86px 9.72px 4.86px 9.72px;
        gap: 41px;
    
    }
    .card{
        width: 50%;
        transition: transform 0.2s linear;
        border-radius: 20px 20px ;
        margin-top: 30px;
        position: relative;
        overflow: hidden;
    }
    .card_detail{
        height: 32px;
        width: 98%;
        display: none;
        justify-content: center;
        align-items: center;
        gap: 2px;
        
    }
    .card_detail div{
        margin-left: 5px;
        width: 15%;
    }
    .card_detail span{
        font-size:10px;
        font-weight:500;
        font-family:"Cabinet Grotesk",sans-serif
    }
    .card:hover .card_detail{
        display: flex;
    }
    .card:hover{
        border: 1px solid transparent ;
        border-radius: 20px 20px 0px 0px ;
        border-image: linear-gradient(179.18deg, rgba(245, 247, 250, 1) 8.94%, rgba(245, 247, 250, 0) 95.23%) 1 stretch;
        transform: scale(1.1);
    }
    .card img{
        width: 100%;
    }
    
    
    .offers{
     width:100%;
    height: 760px;
    padding: 100px 0px 0px 0px;
    }
    .offers .main_image{
        width: 100%;
        position: absolute;
        height: 624px;
    }
    .offers .button_image{
        position: relative;
       bottom: 20%;
    }
    .offer_detail{
        height: 300px;
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        left: 47.5%;
        top: 18%;
    }
    .offer_title{
    width: fit-content;
    height: 55px;
    top: 75px;
    left: 684px;
    font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    }
    .offer_desc{
    width: 441px;
    height: 197px;
    top: 214px;
    left: 47%;
    font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;

    }
    .buy_nowButton{
        height: 55%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        align-items:  end;
        top: 50%;
    }
    .blog{
        height: 900px;
        width: 100%;
        padding: 50px 30px 36px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .blog_title{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }
    .blog_title p{
        width: 30%;
        font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 60px;
    text-align: left;
    
    }
    .blog_title img{
        width: 70%;
    }
    .middle_part_blog{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .benefits_of_pillow{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    padding: 10px;
    }
    .middle_part_blog img{
        width: 100%;
    }
    .para_title{
        font-family: 'Cabinet Grotesk',sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
        text-align: left;
    }
    .paragraph{
        font-family: "Cabinet Grotesk",sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
        text-align: justify;
    
    }
    .sidebar{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .subscribe{
        width: 100%;
        height: 601px;
        padding: 50px 100px 10px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 49px;
    }
    .subscribe .p1{
        font-family: 'Cabinet Grotesk',sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;
    
    }
    .subscribe .p2{
        width: 438px;
        font-family: 'Cabinet Grotesk',sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.8px;
        text-align: center;
    
    }
    .subscribe input{
    width:768px;
    height:  81px;
    padding: 8px 38px 8px 38px;
    gap: 10px;
    background-color: rgba(79, 126, 142, 0.35);
    border: 3px solid white  ;
    border-radius: 40px;
    font-family: 'Cabinet Grotesk',sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    }
    .subscribe_button{
        display: flex;
        background-color: inherit;
        width:  169px;
    height:  68px;
    padding: 4.93px 0px 0px 0px;
    gap: 8px;
    color: white;
    border: none;
    }
    .subscribe_button div{
    width: 58.14px;
    height: 58.14px;
    top: 4.93px;
    left: 4.93px;
    border-radius: 50%;
    border: 1px solid white;
    }
     
    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        height: 693px;
    background: linear-gradient(180deg, rgba(55, 91, 104, 0) 0%, rgba(18, 33, 46, 0.26) 19.69%, #12212E 65.27%);
    }
    .footer-pic{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .girl_pic{
        width: 100%;
        height: 60%;
        top: 40%;
        position: absolute;
    }
    .social_media{
        display: flex;
        width: 210px;
        gap: 8px;
        position: relative;
        top:42% ;
        left: 70%;
        font-family: 'Cabinet Grotesk',sans-serif;
    }
    .copyright{
        position: absolute;
        left: 30%;
        top: 85%;
        text-align: center;
    }

    .created_by{
        font-family: 'sahitya',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.48px;
    }
    .copyright_note{
        font-family: 'sahitya',sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.48px;
    }
    
    .footer_items{
        position: relative;
        top: 40%;
        left: 30%;
        width: 69%;
        height: 228px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 25px;
    }
    .about_div{
    display:flex;
    flex-direction:column;
    }
    .recourse_div{
    display:flex;
    flex-direction:column;
    }
    .service_div{
    display:flex;
    flex-direction:column;
    }
    .contact_div{
    height: 100%;
    padding: 10px 20px;
    display:flex;
    flex-direction:column;
    }
    .contact_section{
    padding: 8px 6px 8px 6px;
    gap: 6px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-family: "Cabinet Grotesk",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.84px;
    }
    .contact_section > img{
        width: 24px;
        height: 24px;
    }
    .footer_items h3{
        font-family: 'Cabinet Grotesk',sans-serif;
        font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    }
    .footer_items p{
        font-family: 'Sahitya',sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }
    .footer_items p:hover{
        cursor:pointer;
    }
        
}
